.toolbar{
    display: flex;
    height: 64px;
    width: 100%;
    overflow: hidden;
    padding: 0 16px;
    border-bottom: 1px solid silver;
    align-items: center;
    background-color: rgb(216, 214, 214, 0.12);
}

.logo{
    flex: 0 0 min-content;
    margin: 0;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacer{
    flex: 1 1 auto;
}

.img-logo {
    display: flex;
    align-items: flex-end;
}