.infoTitle{
    color: white;
}
.wrapper{
    height: 100%;
    position: relative;
}

.sigmaContainer{
    height: 100%;
}

.tools{
    position: absolute;
    z-index: 999;
}

.controls {
    position: absolute;
    left: 1em;
    top: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    width: auto;
    min-width: 300px;
    max-height: 64px;
    transition: max-height 300ms ease-in-out;
    overflow: hidden;
    padding: 10px;
    padding-top: 0;
}
.controls:hover{
    max-height: 500px;
}

.row {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.row input{
    width: 100%;
}

.row.buttons{
    display: inline-flex;
    gap: 0.5em;
    padding: 0 1.5em;
}

.row.buttons button{
    position: relative;
}

.row.buttons button:hover > label{
    visibility: visible;
    opacity: 1;
}

.row.buttons button > label{
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    white-space: nowrap;
    color: white;
    border-radius: 2px;
    padding: 0.2em;
    top: -100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: min-content;

    z-index: 999;
    /* display: none; */
    visibility: hidden;
    transition: opacity 100ms ease-in-out ;
    opacity: 0;
}
.input button {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    text-align: center;
    background: white;
    outline: none;
    border: 1px solid dimgrey;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 1em;
}

.input button.icon{
    padding: 0;
}

h3{
    margin-top: 0;
}