<div class="wrapper" [ngClass]="{'loading': loading}">
    <div class="mapWrapper">
        <a name="map"></a>
        <ng-container *ngIf="town">
            <app-map 
                class="map" 
                [center]="getCenter()" 
                [regions]="town.districts"
                (graphInfo)="handlePolygon($event)" 
            ></app-map> <!-- handlePolygon($event) вызывается при изменении graphInfo и реагирует на изменение. getCenter() вызывается при отрисовке блока и присваивает значение center-->
        </ng-container>
    </div>
    <div class="graphWrapper">
        <a name="graph"></a>
        <app-graph *ngIf="LgraphData" [graphData]="LgraphData" [name]="graphName" [loading]="loading" (downloadLgraph)="handleDownload('l')"></app-graph>
    </div>
    <div class="roadsWrapper">
        <a name="roads"></a>
        <app-roads *ngIf="RgraphData" [graphData]="RgraphData" [loading]="loading" (downloadRgraph)="handleDownload('r')"></app-roads>
    </div>

    <div class="nav">
        <button title="Map" [ngClass]="{'active': section == 'map'}" (click)="section = 'map'"></button>
        <button title="Graph" [ngClass]="{'active': section == 'graph'}" (click)="section = 'graph'" [disabled]="!LgraphData"></button>
        <button title="Roads" [ngClass]="{'active': section == 'roads'}" (click)="section = 'roads'" [disabled]="!RgraphData"></button>
    </div>
</div>

<div *ngIf="loading" class="overlay">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>